<div class="container d-flex justify-content-center align-items-center min-vh-100">
	<div class="row  border border-dark rounded-5 p-4  shadow bg-white ">
		<!-- left -->
		<div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center bg-nav flex-column p-2 text-white left-box  ">
			<p class="fs-4"> Be Verified</p>
			<small>Admin login</small>

		</div>

		<!-- right -->
		<div class="col-md-6 righ-box">
			<div class="row ">
				<div class="hedder-text mb-4 align-items-center justify-content-center">
					<h2>Login</h2>
				</div>
				<div class="input-group mb-3  align-items-center justify-content-center  ">
					<form >
						<input type="text" name="userName"  placeholder="user name" FormControlName="userName" class="FormControl">
						<br>
						<input type="password" name="password"  placeholder="Password" FormControlName="pass" class="FormControl">
						<br>
						<button class="btn btn-outline-dark mt-5" type="submit">Sign In</button>
					</form>
			</div>
		</div>


	</div>
</div>
