<div class="container border boder-secondry mt-5">
  <div class="p-2 m-4 mt-5 mb-5">
    <h2 class="text-start mt-4 text-capitalize" id="drink">Drinks</h2>

    <!----------------------------->
    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <img src="assets/img/drinks/chai tea.jpg" alt="chai tea" />
        <p class="fs-4 text-capitalize">chai tea</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="drinks"
          routerLinkActive="active"
          (click)="chaitea()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/drinks/cold coffee.jpg" alt="cold coffee" />
        <p class="fs-4 text-capitalize">cold coffee</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="drinks"
          routerLinkActive="active"
          (click)="coldcoffee()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/drinks/cold milk.png" alt="cold milk" />
        <p class="fs-4 text-capitalize">cold milk</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="drinks"
          routerLinkActive="active"
          (click)="coldmilk()"
        >
          order now
        </button>
      </div>
    </div>
    <!---------------------------------------------------------->
    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <img src="assets/img/drinks/hot chocolate.jpg" alt="hot chocolate" />
        <p class="fs-4 text-capitalize">hot chocolate</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="drinks"
          routerLinkActive="active"
          (click)="hotchocolate()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/drinks/hot cofees.jpg" alt="hot cofees" />
        <p class="fs-4 text-capitalize">hot cofees</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="drinks"
          routerLinkActive="active"
          (click)="hotcofees()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/drinks/hot tea.jpg" alt="hot tea" />
        <p class="fs-4 text-capitalize">hot tea</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="drinks"
          routerLinkActive="active"
          (click)="hottea()"
        >
          order now
        </button>
      </div>
    </div>
    <!---------------------------------------------------------->
    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <img
          src="assets/img/drinks/ice tea with lemonade.jpg"
          alt="ice tea with lemonade"
        />
        <p class="fs-4 text-capitalize">ice tea with lemonade</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="drinks"
          routerLinkActive="active"
          (click)="lemonade()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/drinks/steamed milk.jpg" alt="steamed milk" />
        <p class="fs-4 text-capitalize">steamed milk</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="drinks"
          routerLinkActive="active"
          (click)="steamedmilk()"
        >
          order now
        </button>
      </div>
    </div>
  </div>
  <!----------------------------->

  <!--  hot food section -->

  <div class="p-2 m-4 mt-5 mb-5">
    <h2 class="text-capitalize" id="food">hot foods</h2>
    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <img
          src="assets/img/hot food/cheeseburger-roller.jpg"
          alt="cheeseburger-roller"
        />
        <p class="fs-4 text-capitalize">cheeseburger-roller</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="food"
          routerLinkActive="active"
          (click)="cheeseburger()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/hot food/Big_Bite.png" alt="Big_Bite" />
        <p class="fs-4 text-capitalize">Big_Bite</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="food"
          routerLinkActive="active"
          (click)="Big_Bite()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/hot food/cheeseburger.jpg" alt="cheeseburger" />
        <p class="fs-4 text-capitalize">cheeseburger</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="food"
          routerLinkActive="active"
          (click)="cheeseburger1()"
        >
          order now
        </button>
      </div>
    </div>
    <!------------------------------>

    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <img
          src="assets/img/hot food/Chicken Sandwich.png"
          alt="Chicken_Sandwich"
        />
        <p class="fs-4 text-capitalize">Chicken_Sandwich</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="food"
          routerLinkActive="active"
          (click)="ChickenSandwich()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img
          src="assets/img/hot food/Cheesy BBQ Meatballs.jpg"
          alt="Cheesy BBQ Meatballs"
        />
        <p class="fs-4 text-capitalize">Cheesy BBQ meatballs</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="food"
          routerLinkActive="active"
          (click)="CheesyBBQmeatballs()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img
          src="assets/img/hot food/saussage-egg-cheese-croissant.jpg"
          alt="saussage-egg-cheese-croissant.jpg"
        />
        <p class="fs-4 text-capitalize">saussage egg cheese croissant</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="food"
          routerLinkActive="active"
          (click)="saussageeggcheesecroissant()"
        >
          order now
        </button>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <img
          src="assets/img/hot food/spicy_garlic_chicken_roller.png"
          alt="spicy_garlic_chicken_roller.png"
        />
        <p class="fs-4 text-capitalize">spicy garlic chicken roller</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="food"
          routerLinkActive="active"
          (click)="spicygarlicchickenroller()"
        >
          order now
        </button>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------->

  <!--  pizza section -->

  <div class="p-2 m-4 mt-5 mb-5">
    <h2 class="text-start mt-4 text-capitalize" id="drink">pizza</h2>
    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <img src="assets/img/pizza/7-meat-pizza.jpg" alt="7-meat-pizza" />
        <p class="fs-4 text-capitalize">7-meat-pizza</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="pizza"
          routerLinkActive="active"
          (click)="meatpizza()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/pizza/black chicken.jpg" alt="black chicken" />
        <p class="fs-4 text-capitalize">black chicken</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="pizza"
          routerLinkActive="active"
          (click)="blackchicken()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/pizza/breakfast-pizza.jpg" alt="breakfast-pizza" />
        <p class="fs-4 text-capitalize">breakfast-pizza</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="pizza"
          routerLinkActive="active"
          (click)="breakfastpizza()"
        >
          order now
        </button>
      </div>
    </div>
    <!------------------------------------------->
    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <img src="assets/img/pizza/Cheese_Pizza.jpg" alt="Cheese_Pizza" />
        <p class="fs-4 text-capitalize">Cheese_Pizza</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="pizza"
          routerLinkActive="active"
          (click)="CheesePizza()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/pizza/Pizza.jpg" alt="Pizza buddy" />
        <p class="fs-4 text-capitalize">Pizza buddy</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="pizza"
          routerLinkActive="active"
          (click)="Pizzabuddy()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img
          src="assets/img/pizza/tandoori chicken.jpg"
          alt="tandoori chicken"
        />
        <p class="fs-4 text-capitalize">tandoori chicken</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="pizza"
          routerLinkActive="active"
          (click)="tandoorichicken()"
        >
          order now
        </button>
      </div>
    </div>
  </div>

  <!--  bakery section -->

  <div class="p-2 m-4 mt-5 mb-5">
    <h2 class="text-start mt-4 text-capitalize" id="drink">bakery</h2>
    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <img src="assets/img/bakery/brookie.jpg" alt="brookie.jpg" />
        <p class="fs-4 text-capitalize">brookie</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="bakery"
          routerLinkActive="active"
          (click)="brookie()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/bakery/brownie.jpg" alt="brownie" />
        <p class="fs-4 text-capitalize">brownie</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="bakery"
          routerLinkActive="active"
          (click)="brownie()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img
          src="assets/img/bakery/chocolate Muffins.png"
          alt="Bluberry chocolate Muffins"
        />
        <p class="fs-4 text-capitalize">Bluberry chocolate Muffins</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="bakery"
          routerLinkActive="active"
          (click)="BluberrychocolateMuffins()"
        >
          order now
        </button>
      </div>
    </div>
    <!---------------------------------------------->
    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <img src="assets/img/bakery/Donut.png" alt="Donut" />
        <p class="fs-4 text-capitalize">Donut</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="bakery"
          routerLinkActive="active"
          (click)="Donut()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img src="assets/img/bakery/brownie.jpg" alt="brownie" />
        <p class="fs-4 text-capitalize">brownie</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="bakery"
          routerLinkActive="active"
          (click)="brownie1()"
        >
          order now
        </button>
      </div>

      <div class="col-sm p-3 m-3">
        <img
          src="assets/img/bakery/BluberryMuffin.png"
          alt="BluberryMuffin.png"
        />
        <p class="fs-4 text-capitalize">BluberryMuffin</p>
        <button
          class="btn btn-outline-info text-capitalize"
          routerLink="bakery"
          routerLinkActive="active"
          (click)="BluberryMuffin()"
        >
          order now
        </button>
      </div>
    </div>
  </div>
</div>
