<div class="container border boder-secondry mt-4">
  <div class="p-2 m-4 mt-5 mb-5">
    <h2 class="text-start mt-4 text-capitalize">Drinks</h2>

    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img src="assets/img/drinks/chai tea.jpg" alt="chai tea"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">chai tea</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img src="assets/img/drinks/cold coffee.jpg" alt="cold coffee"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">cold coffee</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img src="assets/img/drinks/cold milk.png" alt="cold milk"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">cold milk</p>
      </div>

      <div class="col-sm p-3 m-3">
        <a href=""
          ><img src="assets/img/drinks/hot chocolate.jpg" alt="hot chocolate"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">hot chocolate</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img src="assets/img/drinks/hot cofees.jpg" alt="hot cofees"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">hot cofees</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""><img src="assets/img/drinks/hot tea.jpg" alt="hot tea" /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">hot tea</p>
      </div>

      <div class="col-sm p-3 m-3">
        <a href=""
          ><img
            src="assets/img/drinks/ice tea with lemonade.jpg"
            alt="ice tea with lemonade"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">ice tea with lemonade</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img src="assets/img/drinks/steamed milk.jpg" alt="steamed milk"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">steamed milk</p>
      </div>
    </div>
  </div>

  <!--  hot food section -->

  <div class="p-2 m-4 mt-5 mb-5">
    <h2 class=" text-capitalize">hot foods</h2>

    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img
            src="assets/img/hot food/cheeseburger-roller.jpg"
            alt="cheeseburger-roller"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">cheeseburger-roller</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img src="assets/img/hot food/Big_Bite.png" alt="Big_Bite"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">Big_Bite</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img src="assets/img/hot food/cheeseburger.jpg" alt="cheeseburger"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">cheeseburger</p>
      </div>

      <div class="col-sm p-3 m-3">
        <a href=""
          ><img
            src="assets/img/hot food/Chicken Sandwich.png"
            alt="Chicken_Sandwich"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">Chicken_Sandwich</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img
            src="assets/img/hot food/Cheesy BBQ Meatballs.jpg"
            alt="Cheesy BBQ Meatballs"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">Cheesy BBQ Meatballs</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img
            src="assets/img/hot food/saussage-egg-cheese-croissant.jpg"
            alt="saussage-egg-cheese-croissant.jpg"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">saussage egg cheese croissant</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img
            src="assets/img/hot food/spicy_garlic_chicken_roller.png"
            alt="spicy_garlic_chicken_roller.png"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">spicy garlic chicken roller</p>
      </div>
    </div>


<!--  pizza section -->

<div class="p-2 m-4 mt-5 mb-5">
    <h2 class="text-start text-capitalize">pizza</h2>

    <div class="row text-center">
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img
            src="assets/img/pizza/7-meat-pizza.jpg"
            alt="7-meat-pizza"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">7-meat-pizza</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img src="assets/img/pizza/black chicken.jpg" alt="black chicken"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">black chicken</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img src="assets/img/pizza/breakfast-pizza.jpg" alt="breakfast-pizza"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">breakfast-pizza</p>
      </div>

      <div class="col-sm p-3 m-3">
        <a href=""
          ><img
            src="assets/img/pizza/Cheese_Pizza.jpg"
            alt="Cheese_Pizza"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">Cheese_Pizza</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img
            src="assets/img/pizza/Pizza.jpg"
            alt="Pizza buddy"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">Pizza buddy</p>
      </div>
      <div class="col-sm p-3 m-3">
        <a href=""
          ><img
            src="assets/img/pizza/tandoori chicken.jpg"
            alt="tandoori chicken"
        /></a>
        <p
          class=" fw-normal fs-5 fst-italic text-decoration-underline"
        >
          $0.00
        </p>
        <p class="fs-4 text-capitalize">tandoori chicken</p>
      </div>
    </div>
  </div>
</div>
