<div class="container mt-5">
  <div class="mt-5 p-5 d-flex ">
    <img src="{{ val3 }}" alt="" width="200px" height="200px">
  
    <div class="ms-5 mt-5">
      <h1 >{{ val1 }}</h1>
      <br/>
      <p>{{ val2 }}</p>
    </div>
    </div>
  <div class="p-5">
   <div class="p-5 mb-4">
    <button class="btn btn-info mt-5 ms-3 ">S</button>
    <button class="btn btn-info mt-5 ms-3">M</button>
    <button class="btn btn-info mt-5 ms-3">L</button>
   </div>


    <select class="form-select" aria-label="Default select example">
      <option selected>meat</option>
      <option value="No meat">No meat</option>
      <option value="Extra meat">Extra meat</option>
      
    </select>


    <select class="form-select mt-5" aria-label="Default select example">
      <option selected>Mozzarella</option>
      <option value="Cheddar">Cheddar</option>
      <option value="Parmesan">Parmesan</option>
    </select>
    <div class="form-outline col-4 mt-5" data-mdb-input-init>
      <input type="number" id="typeNumber" class="form-control"  placeholder="quantity" />
    </div>

  </div>
  <div class="p-5 text-center justify-content-center">
    <button class="btn btn-info mt-5">Add</button>
  </div>
</div>

>
