h2{
    margin-left: 40%;
    color: rgb(17, 44, 87) ;
   }
   
   input{
       border-radius: 40px;
       text-align: center;
       margin: 10px;
       border-color:  rgb(17, 44, 87);
   }
   
   button{
       text-align: center;
       margin-left: 40%;
       
   
   }