<div class="container mt-5">
  <div class="mt-5 p-5">images section</div>
  <div class="p-5">
   <div class="p-5 mb-4">
    <button class="btn btn-info mt-5 ms-3 ">S</button>
    <button class="btn btn-info mt-5 ms-3">M</button>
    <button class="btn btn-info mt-5 ms-3">L</button>
   </div>


    <select class="form-select" aria-label="Default select example">
      <option selected>Powders</option>
      <option value="Chocolate Malt Powder">Chocolate Malt Powder</option>
      <option value="Light Cinnamon Powder">Light Cinnamon Powder</option>
      <option value="Vanilla Bean Powder">Vanilla Bean Powder</option>
    </select>

    <select class="form-select mt-5" aria-label="Default select example">
      <option selected>syrup</option>
      <option value="classicsyrup">classic syrup</option>
      <option value="LicquidCaneSugar">Licquid Cane Sugar</option>
      <option value="Honey Blend">Honey Blend</option>
      <option value="Vanilla Syrup pump">Vanilla Syrup pump</option>
      <option value="Caramel Syrup">Caramel Syrup</option>
    </select>
    <select class="form-select mt-5" aria-label="Default select example">
      <option selected>suger</option>
      <option value="Sugar">Sugar</option>
      <option value="Sugar In The Rawe">Sugar In The Rawe</option>
      <option value="Splendas">Splendas</option>
    </select>
    <div class="form-outline col-4 mt-5" data-mdb-input-init>
      <input type="number" id="typeNumber" class="form-control"  placeholder="quantity" />
    </div>

  </div>
  <div class="p-5 text-center justify-content-center">
    <button class="btn btn-info mt-5">Add</button>
  </div>
</div>

>
